* {

}

.y-sticky {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 154, 228);
}

.prompt {
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
}

img {
    border: 3px solid black;
    width: 150px;
    height: 150px;
}

.imgCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgParent {
    display: flex;
    
}

#btn {
    height: 20px;
    width: 50px;
    align-self: center;
}

.btnG {
    height: 100px;
    width: 150px;
    /* align-self: center; */
    margin: 5px;
    
}

.BtnBox, .BtnBox2 {
    display: flex;
    flex-wrap: wrap;
}

.btnParent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.Answer1 {
background-color: red;
}

.Answer2 {
    background-color: blue;

}

.Answer3 {
    background-color: orange;
}

.Answer4 {
    background-color: forestgreen;
}

.hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}